* {
  font-family: JetBrainsMono Nerd Font;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 1.0);
  color: #DDD;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  color: white;
  font-weight: bold;
  border-top: 2px solid white;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#backlight,
#temperature,
#tray,
#mode {
  margin: 0 8px;
}

#clock {
  font-weight: bold;
}

#battery {}

#battery icon {
  color: red;
}

#battery.charging {}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {}

#memory {}

#network {}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {}

#pulseaudio.muted {}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#tray {}
